body {
	-ms-overflow-x: hidden;
}
#wrapper {
	transition:0.5s; padding-left: 0px; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease;
}
.toggled#wrapper {
	padding-left: 250px;
}
#sidebar-wrapper {
	background: rgb(0, 0, 0); transition:0.5s; left: 250px; width: 0px; height: 100%; margin-left: -250px; position: fixed; z-index: 1000; -ms-overflow-y: auto; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease;
}
.toggled#wrapper #sidebar-wrapper {
	width: 250px;
}
#page-content-wrapper {
	padding: 15px; width: 100%; position: absolute;
}
.toggled#wrapper #page-content-wrapper {
	margin-right: -250px; position: absolute;
}
.sidebar-nav {
	list-style: none; margin: 0px; padding: 0px; top: 0px; width: 250px; position: absolute;
}
.sidebar-nav li {
	line-height: 40px; text-indent: 20px;
}
.sidebar-nav li a {
	color: rgb(153, 153, 153); text-decoration: none; display: block;
}
.sidebar-nav li a:hover {
	background: rgba(255, 255, 255, 0.2); color: rgb(255, 255, 255); text-decoration: none;
}
.sidebar-nav li a:active {
	text-decoration: none;
}
.sidebar-nav li a:focus {
	text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
	height: 65px; line-height: 60px; font-size: 18px;
}
.sidebar-nav > .sidebar-brand a {
	color: rgb(153, 153, 153);
}
.sidebar-nav > .sidebar-brand a:hover {
	background: none; color: rgb(255, 255, 255);
}
@media all and (min-width:768px)
{
#wrapper {
	padding-left: 0px;
}
.toggled#wrapper {
	padding-left: 250px;
}
#sidebar-wrapper {
	width: 0px;
}
.toggled#wrapper #sidebar-wrapper {
	width: 250px;
}
#page-content-wrapper {
	padding: 20px; position: relative;
}
.toggled#wrapper #page-content-wrapper {
	margin-right: 0px; position: relative;
}
}
