body {
	padding-top: 50px; padding-bottom: 20px;
}
.body-content {
	padding-right: 15px; padding-left: 15px;
}
.dl-horizontal dt {
	white-space: normal;
}
input {
	max-width: 280px;
}
select {
	max-width: 280px;
}
textarea {
	max-width: 280px;
}
